.home-container {
  height: 100vh;
  background-color: var(--bg-primario);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;

  > .home-header {
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    position: relative;

    > a > img {
      width: 60px;
      margin-top: 24px;

      @media screen and (min-width: 991px) {
        width: 80px;
        margin-top: 40px;
      }
    }
  }

  > .signup-form,
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--bg-secundario);
    position: relative;
    color: var(--texto-padrão);
    padding: 28px;
    justify-content: center;
    border: 1px solid #333;
    border-radius: 8px;
    z-index: 1;
    height: 100%;
    max-height: 450px;
    padding: 20px;
    margin: 20px;

    > .form-subtext {
      margin-left: 8px;
      font-size: 14px;
      font-weight: 500;
      color: #9ca3af;
      text-align: center;

      > span {
        color: var(--cor-primaria);
        text-decoration: none;
        cursor: pointer;
      }
    }
    > div > .form-title {
      font-size: 20px;
      font-weight: 600;
      position: relative;
      color: var(--texto-padrão);
      text-align: center;
      justify-content: center;
      align-items: center;

      @media screen and (min-width: 991px) {
        font-size: 24px;
      }

      > .home-span {
        color: var(--cor-primaria);
      }
    }

    > div > .form-subtext {
      font-size: 14px;
      color: #9ca3af;
      text-align: center;

      @media screen and (min-width: 991px) {
        font-size: 16px;
      }
    }

    > label {
      > .form-input {
        background-color: #333;
        color: var(--texto-padrão);
        width: 100%;
        padding: 16px;
        border-radius: 8px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        outline: none;
        transition: all 0.2s ease-in-out;
        transition-duration: 0.3s;
      }

      > .form-input::placeholder {
        color: #ccc;
      }

      > .form-input:focus {
        border: 1px solid var(--cor-primaria);
      }
    }

    > .accept-terms {
      display: flex;
      align-items: center;
      margin-left: 8px;

      > label {
        margin-left: 8px;
        font-size: 14px;
        font-weight: 500;
        color: var(--texto-padrão);

        > a {
          color: var(--cor-primaria);
          text-decoration: none;
        }
      }
    }

    > .form-btn {
      width: 100%;
      background-color: var(--cor-primaria);
      font-size: 20px;
      font-weight: 600;
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
      color: var(--bg-primario);
      transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      text-align: center;
      padding: 16px;
      border-radius: 8px;
      outline: none;
      border: none;
    }

    > .form-btn:hover {
      background-color: var(--cor-primaria-hover);
      box-shadow: 0 8px 12px rgba(154, 220, 89, 0.6),
        0 4px 8px rgba(0, 0, 0, 0.1);
      color: var(--texto-padrão);
      outline: none;
      border: none;
    }
  }

  > .home-footer {
    width: 120px;

    @media screen and (min-width: 991px) {
      width: 160px;
    }
    > img {
      width: 100%;
    }
  }
}

/* Animação Home */
.square ul li,
.square-two ul li {
  position: absolute;
  border: 1px solid var(--cor-primaria);
  background: linear-gradient(to bottom, #9adc59, #c0e889);
  width: 30px;
  height: 30px;
  list-style: none;
  opacity: 0;
}

.square li {
  top: 20vh;
  left: 5vw;
  animation: square 8s linear infinite;

  &:nth-child(2) {
    top: 90vh;
    left: 25vw;
    animation-delay: 5s;
  }

  &:nth-child(3) {
    top: 40vh;
    left: 85vw;
    animation-delay: 10s;
  }

  &:nth-child(4) {
    top: 10vh;
    left: 70vw;
    animation-delay: 7s;
  }

  &:nth-child(5) {
    top: 80vh;
    left: 55vw;
    animation-delay: 14s;
  }
}

@keyframes square {
  0% {
    transform: scale(0) rotateY(20deg);
    opacity: 1;
    border-radius: 10%;
  }

  100% {
    transform: scale(4) rotateY(1000deg);
    opacity: 0;
    border-radius: 20%;
  }
}

.square-two li {
  bottom: 0;
  left: 10vw;
  animation: square-two 12s linear infinite;

  &:nth-child(2) {
    left: 30vw;
    animation-delay: 5s;
  }

  &:nth-child(3) {
    left: 55vw;
    animation-delay: 10s;
  }

  &:nth-child(4) {
    left: 75vw;
    animation-delay: 7s;
  }

  &:nth-child(5) {
    left: 80vw;
    animation-delay: 14s;
  }

  &:nth-child(6) {
    left: 45vw;
    animation-delay: 9s;
  }

  &:nth-child(7) {
    left: 60vw;
    animation-delay: 18s;
  }
}

@keyframes square-two {
  0% {
    transform: scale(0) rotateY(0deg);
    opacity: 1;
    bottom: 0;
    border-radius: 10%;
  }

  100% {
    transform: scale(5) rotateY(1000deg);
    opacity: 0;
    bottom: 120vh;
    border-radius: 20%;
  }
}

/* Animação Alert */

.message {
  padding: 19px 60px;
  position: fixed;
  top: 20px;
  right: 105px;
  background-color: chocolate;
  border-radius: 3px;
  color: #fff;
  animation: slidein 0.5s cubic-bezier(0.25, 0.46, 0.45, 9.94) both;
}


@keyframes slidein {
  0% {
    transform: translateX(5%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.message::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  animation: time 1.5s forwards;
}

@keyframes time {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}