@import url(./home.css);
@import url(./task-dashboard.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI Symbol";
}

:root {
  --bg-primario: #181d23;
  --bg-secundario: #282c33;
  --cor-primaria: #9adc59;
  --cor-primaria-hover: #7ebb4a;
  --texto-padrão: #ffffff;
}

ul li{
  position: absolute;
  border: 1px solid var(--cor-primaria);
  background: linear-gradient(to bottom, #9adc59, #c0e889);
  width: 30px;
  height: 30px;
  list-style: none;
  opacity: 0;
}

.square li{
  top: 20vh;
  left: 5vw;
  animation: square 10s linear infinite;
}

.square li:nth-child(2){
  top: 90vh;
  left: 25vw;
  animation-delay: 2s;
}

.square li:nth-child(3){
  top: 40vh;
  left: 85vw;
  animation-delay: 4s;
}

.square li:nth-child(4){
  top: 10vh;
  left: 70vw;
  animation-delay: 8s;
}

.square li:nth-child(5){
  top: 80vh;
  left: 70vw;
  animation-delay: 10s;
}

@keyframes square {
  0%{
    transform: scale(0) rotateY(20deg);
    opacity: 1;
    border-radius: 10%;
  }
  
  100%{
    transform: scale(4) rotateY(1000deg);
    opacity: 0;
    border-radius: 20%;
  }
}

.circle li{
  bottom: 0;
  left: 10vw;
  animation: circle 12s linear infinite;
}

.circle li:nth-child(2){
  left: 35vw;
  animation-delay: 2s;
}

.circle li:nth-child(3){
  left: 55vw;
  animation-delay: 6s;
}

.circle li:nth-child(4){
  left: 75vw;
  animation-delay: 4s;
}

.circle li:nth-child(5){
  left: 90vw;
  animation-delay: 8s;
}

.circle li:nth-child(5){
  left: 40vw;
  animation-delay: 12s;
}

.circle li:nth-child(5){
  left: 60vw;
  animation-delay: 10s;
}


@keyframes circle {
  0%{
    transform: scale(0) rotateY(0deg);
    opacity: 1;
    bottom: 0;
    border-radius: 10%;
  }
  
  100%{
    transform: scale(5) rotateY(1000deg);
    opacity: 0;
    bottom: 120vh;
    border-radius: 20%;
  }
}