@import url(./home.css);
@import url(./task-dashboard.css);
@import url(./sidebar.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI Symbol";
}

:root {
  --bg-primario: #181d23;
  --bg-secundario: #282c33;
  --cor-primaria: #9adc59;
  --cor-primaria-hover: #7ebb4a;
  --texto-padrão: #ffffff;
  --cor-rgb-hover: rgba(169, 169, 169, 1);
}